litserve
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
requests
transformers
torchaudio
Pillow
diffusers
accelerate
huggingface_hub
qai-hub-models[stable_diffusion_v2_1_quantized]annotated-types==0.7.0
anyio==4.6.2.post1
certifi==2024.8.30
click==8.1.7
diskcache==5.6.3
fastapi==0.115.5
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.0
idna==3.10
Jinja2==3.1.4
litserve==0.2.5
llama_cpp_python==0.3.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
numpy==2.1.3
pydantic==2.10.2
pydantic_core==2.27.1
Pygments==2.18.0
python-dotenv==1.0.1
PyYAML==6.0.2
rich==13.9.4
shellingham==1.5.4
sniffio==1.3.1
starlette==0.41.3
typer==0.14.0
typing_extensions==4.12.2
uv==0.5.5
uvicorn==0.32.1
uvloop==0.21.0
watchfiles==1.0.0
websockets==14.1
